section.cuteanimal {
    height: auto;
    margin-top: 10%;
    color: #FFFFFF;
}
section.cuteanimal h3 {
    text-align: center;
    margin: auto;
}
section.cuteanimal a {
    color: #FFFFFF;
}

section.cuteanimal img {
    width: auto;
    height: 30vh;
    border-radius: 5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 1200px) {
    section.cuteanimal {
        max-width: 100vw;
    }

    section.cuteanimal img {
        width: 100%;
        height: auto;
        border-radius: 5%;
    }
}
@media screen and (min-width: 1200px) {
    section.cuteanimal h3{
        width: 50%;
    }
}



