
.profile-pic {
    border-radius: 5%;
    height: auto;
}
.profile-data {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: 600;
}

.profile-section {
    margin-top: 5vh;
}

.profile-section h2 {
    color: white;
    text-shadow: 1px 1px black;
}

@media screen and (max-width: 1200px) {
    .profile-data {
        text-align: left;
        margin-left: 5%;
    }
}
@media screen and (min-width: 1200px) {
    .profile-pic {
        max-width: 10vw;
    }
  }