.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 70vw;
}

.btn {
    width: 27vw;
    height: auto;
    font-size: 120%;
    padding: 0.75%;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    color:black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1%;
  }
  
  .btn:hover {
    filter: invert(100%);
  }
  
  @media screen and (max-width: 1200px) {
    .flex-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .btn {
      width: 98%;
      font-size: 150%;
    }
    .desktop-only {
      display: none;
    }
  }