
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

nav > a {
  width: auto;
  height: auto;
  animation: flipInX 1.5s forwards;
}

nav span a {
  margin-right: 1.5vw;
  color: #FFFFFF;
}

nav span a:visited {
  color: #FFFFFF;
}

nav a img.devlogo {
  width: 150px;
  height: auto;
  position: absolute;
}

nav button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: 0px;
  color: white;
  font-weight: 600;
  font-size: 120%;
  cursor: pointer
}

nav button:hover {
  color: darkblue;
}

nav span button {
  margin-left: 1.5vw;
}

nav span img.useravatar {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

nav span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav span .navcolumn {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 13vw;
  justify-content: space-between;
  border: 0;
  border-color: transparent;
  outline: none;
}

nav span .navcolumn:focus, nav span .navcolumn:hover {
  outline: none;
}

nav span .navcolumn img {
  margin: auto;
}

@media screen and (max-width: 1200px) {
  nav {
    width: 98%;
  }
  nav a img {
    width: 85px;
    position: relative;
  }

  nav a img.devlogo {
    width: 85px;
    height: auto;
  }

  nav span {
    margin-right: 30%;
  }

  nav span img.useravatar {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    height: 7vh;
  }
  nav > a {
    position: fixed;
  }
  nav > button, nav > span {
    position: fixed;
    right: 1%;
  }
}

@keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }